.body{
    /* position: relative; */
    background-image: url(wallpaper.jpg);
    background-size: cover;
    height: 100vh;
}
.other{
    margin-top: 30px;
    height: 100vh;
}
.other h1{
    text-align: center;
}
.cards{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}
.card{
    border: 1px solid red;
    width: 200px;
    height: 200px;

}
.card h1{
    display: flex;
    justify-content: center;
    margin-top: 85%;
    font-size: 20px;

}